<section><h1>today's meals</h1></section>
<div class="cards">
  <% @meal_plan.meals.each do |meal| %>
    <% if meal.date.strftime("%Y%m%d") == Time.now.strftime("%Y%M%d") %>
      <div class="card">
        <%= link_to recipe_path(meal.recipe) do %>
          <div class="card-image ribbon-box" style="background-image: url('<%= meal.recipe.image.url %>');">
            <div class="ribbon-wrapper">
              <div class="ribbon"><%= meal.recipe.mealtype %></div>
            </div>
          </div>
        <% end %>
        <div class="card-header">
          <h2 class="recipe-title"><%= link_to meal.recipe.name, recipe_path(meal.recipe) %><h2>
        </div>
      </div>
    <% end %>
  <% end %>
  <section><h1>rest of the week</h1></section>
  <% @meal_plan.meals.each do |meal| %>
    <% if meal.date.strftime("%s").to_i > Time.now.to_i %>
      <div class="card">
        <%= link_to recipe_path(meal.recipe) do %>
          <div class="card-image ribbon-box" style="background-image: url('<%= meal.recipe.image.url %>');">
            <div class="ribbon-wrapper">
              <div class="ribbon"><%= meal.recipe.mealtype %></div>
            </div>
          </div>
        <% end %>
        <div class="card-header">
          <h2 class="recipe-title"><%= link_to meal.recipe.name, recipe_path(meal.recipe) %></h2>
        </div>
        <div class="card-copy">
          <p>
          <%= meal.date.strftime("%A, %B %d") %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

