<article>
  <section><h1><%= @recipe.name %></h1></section>
  <section>
    <h2 class="subheader"><%= @recipe.description %></h2>
  </section>
  <section class="recipe">
    <h5>Ingredients</h5>
    <p>
    <ul class="ingredients">
    <% @ingredients.each do |ingredient| %>
      <% ingredient = ingredient.humanize %>
      <li><%= ingredient %></li>
    <% end %>
    </ul>
    </p>
    <h5>Instructions</h5>
    <%  @instruction_array.each do |paragraph| %>
    <p>
      <%= paragraph %>
    </p>
    <% end %>
  </section>
  <%= image_tag(@recipe.image.url, class: "recipe")  %>
</article>

  <section>
    <% if current_user.admin? %>
      <%= button_to 'Edit Recipe', edit_recipe_path, method: :get %>
    <% end %>
  </section>
